*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 500px;
    height: 300px;
    background-color:bisque;
    border-radius: 15px;
    margin-left: 15px;
}
.education{
    color: dimgray;
    margin-left: 10px;
}
.adnsu{
    margin-left: 10px;
   
}
.b0685{
    margin-top: -14px;
    margin-left: 263px;
}
.itif{
    
    margin-left:263px ;
}
.chip{
    width: 40px;
    height: 30px;
    margin-left: 35px;
    margin-top: 20px;
}
.ad-name{
    color: dimgray;
    margin-top: 5px;
    margin-left: 20px;

}
.name{
    margin-left: 80px;
}
.soyad-surname{
    color: dimgray;
    margin-top: 5px;
    margin-left: 20px;
}
.surname{
    margin-left: 80px;
}
.dogum-tarixi{
    color: dimgray;
    margin-top: 5px;
    margin-left: 20px;
}
.birth{
    margin-left: 22px;
}
.qebulolma{
    color: dimgray;
    margin-top: 5px;
    margin-left: 20px;
}
.year{
    margin-left: 22px;
}
.fin-pin{
    color: dimgray;
    margin-top: -78px;
    margin-left: 258px;
}
.fin{
    margin-top: -1px;
    margin-left: 260px;
}
.bitirme{
    color: dimgray;
    margin-top: -40px;
    margin-left: 260px;
}
.graduation{
    margin-left: 266px;
    margin-top: 0px;
}
.adnsu-logo{
    width: 90px;
    height: 50px;
    border-radius: 5px;
    margin-top: -9px;
    margin-left: 388px;
}

.card-background{
    width: 500px;
    height: 300px;
    background-color:bisque;
    border-radius: 15px; 
    margin-top: 10px;
    margin-left: 15px;
}

.international-calls{
    font-size: 8px;
    color: gray;
}

.domestic-calls{
    font-size: 8px;
    color: gray;
}
.header1{
    display: flex;
    justify-content: space-between;
}

.gray-bar{
    background-color: gray;
    width: 500px;
    height: 60px;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: -289px;
}
.gray-background{
    width: 220px;
    height: 30px;
    background-color:tan;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

.gray-code{
    margin-left: 130px;
    font-style: italic;
    font-size: 17px;
    margin-top: 10px;
}

.novacard{
    font-size: 8px;
    margin-left: 416px;
    margin-top: -28px;
}

.master-card{
    width: 90px;
    height: 60px;
    margin-top: 15px;
    margin-left: 418px;
}
.kapital-logo{
    width: 150px;
    height: 30px;
    margin-left: -480px;
    margin-top: 34px;
    border-radius: 5px;
}

.code{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.valid{
    color:slategrey ;
    font-size: 10px;
    margin-left:30px ;

}
.month-year{
    margin-left: 30px;
    margin-top: 14px;
}
.wwwkapital{
    margin-left: -37px;
    margin-top: 37px;
    font-size: 13px;
    color: slategrey;
}
.nfc-logo{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.phone-logo{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-left: 76px;
    
}
.last-div{
    display: flex;
    
}
.call-number{
    color: red;
    font-style:oblique;
    font-size: 20px;
    margin-top: 15px;
}